<section th:fragment="navigation" class="navigation">
    <nav class="nav">
        <div th:unless="${user}" class="nav-components">
            <div class="site-title">
                <div class="logo-container">
                    <a href="/"><img src="/images/primary-logo-removedbg-preview.png" alt="DST Logo"></a>
                </div>
            </div>
            <div class="links">
                <a th:href="@{/register}" class="button register-button">Register</a>
                <a th:href="@{/login}" class="button login-button">Login</a>
            </div>
        </div>

        <div th:if="${user}" class="nav-components">
            <div class="site-title">
                <div class="logo-container">
                    <a href="/home"><img src="/images/primary-logo-removedbg-preview.png" alt="DST Logo"></a>
                </div>
            </div>
            <div class="links">
                <a th:href="@{/logout}" class="button logout-button">Logout</a>
            </div>
        </div>
    </nav>
</section>