<section th:fragment="navigation" class="navigation" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <nav class="nav">
        <div sec:authorize="isAuthenticated()" class="nav-components">
            <div class="site-title">
                <div class="logo-container">
                    <a href="/home"><img src="/images/primary-logo-removedbg-preview.png" alt="DST Logo"></a>
                </div>
            </div>
            <div class="links">
                <a th:href="@{/logout}" class="button logout-button">Logout</a>
            </div>
        </div>
    </nav>
</section>