<div th:fragment="side-nav-bar" class="side-nav-bar">
    <div class="side-bar-container">
        <nav>
            <ul>
                <li><a th:href="@{/home}"><i class="fa-regular fa-house"></i>My Profile</a></li>
                <li><a th:href="@{/dogs}"><i class="fa-solid fa-dog"></i>My Dogs</a></li>
                <li><a th:href="@{/dogs/new}"><i class="fa-solid fa-circle-plus"></i>Add New Dog</a></li>
                <li th:if="${user != null and user.role != null and user.role.name() == 'ADMIN'}">
                    <ul class="admin-tab">
                        <li>ADMIN</li>
                    </ul>
                </li>
                <li th:if="${user != null and user.role != null and user.role.name() == 'ADMIN'}">
                    <a th:href="@{/users}"><i class="fa-solid fa-list"></i>Users</a>
                </li>
            </ul>
        </nav>
    </div>
</div>