@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

select {
    font: 18px/1.5 Lato;
}

body {
    font: 18px/1.5 Lato;
    background-color: #F9F7FE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(95, 92, 92);
    padding-bottom: 8em;
}

body > * {
    width: 100%;
}

main {
    display: flex;
    gap: 20px;
    margin-left: 16em;
    width: calc(100% - 16em);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding-right: 1em;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    gap: 2em;
    padding: 0.5em 1.3em;
}

label {
    color: rgb(8, 34, 68);
    font-weight: bold;
}

i {
    font-size: 2em;
}

.icons li:nth-child(even) i {
    color: rgb(49, 125, 203);
}

i:nth-child(1) {
    color: rgb(106, 78, 165);
}

.paw-icon {
    width: 3em;
    height: auto;
}

.intro.centered {
    max-width: 60ch;
    margin: 0 auto;
}

p {
    padding-bottom: 0.5em;
}

.medication-page select,
.schedule-page select{
    width: 20rem;
    padding: 0.7rem 1rem;
    border: 1px solid #D8D5F3;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 2rem;
}