main {
    display: flex;
    gap: 3em;
}

h1 {
    padding-bottom: 0.5em;
}

.img-container-dog-picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25em;
}

.dog-picture {
    border-radius: 3em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2em;
}

.dogs-horizontal .dog-card .dog-table {
    border: none;
    box-shadow: none;
    border-collapse: collapse;
    width: 90%;
    margin: 1em 0;
}

.dogs-horizontal .dog-card .dog-table td,
.dogs-horizontal .dog-card .dog-table th {
    border: none;
    padding: 0.5em;
}
.dogs-horizontal .dog-card img {
    width: auto;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 1em 2em;
    border: 1px solid #ccc;
}

.button-in-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    margin-left: 0.5em;
}

th {
    width: 15em;
    text-align: left;
}

.delete-button,
.edit-button {
    width: 9em;
    padding-right: 1em;
    padding-left: 1em;
}

.no-dogs {
    font-weight: bold;
    padding-top: 0.5em;
}

.dogs-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}
.dogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 2em;
}

i {
    font-size: 1.5em;
}

.button-seizures {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-seizures a {
    color: rgb(75 67 122);
    display: flex;
    gap: 1em;
    padding: 1em;
    transition: color 0.3s ease;
    width: 15em;
    border: 0.1em solid rgb(75 67 122);
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
}

.button-seizures i {
    color: rgb(104 97 166);
    transition: color 0.3s ease;
}

.button-seizures a:hover,
.button-seizures a:hover i{
    background-color: #4b437a;
    color: #ffffff;
    border-radius: 0.5em;
}

.dog-card {
    background: white;
    border-radius: 0.5em;
    padding: 1em;

}

