h1 {
    padding: 0.5em;
}

.create-user-button-container {
    padding-left: 2em;
    text-align: center;
    padding-right: 2em;
}

table {
    border-collapse: collapse;
    width: 90%;
    font-size: 0.9em;
    margin: 1em 2em;
    border: 1px solid #ccc;
}

tr {
    padding: 1em;
}

td {
    padding: 1em;
    border: 1px solid #ccc;
}

th {
    padding: 1em;
    border: 1px solid #ccc;
}

.button-in-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

thead {
    background: rgb(225 230 234);
}