.users-section {
    padding: 30px;
    min-height: calc(100vh - 100px);
}

.users-section h1 {
    color: #1f2937;
    font-size: 32px;
    margin-bottom: 25px;
}

.users-table {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    overflow-x: auto;
    font-size: 0.9em;
}


.users-table table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
}

.users-table th {
    background: #2b2847;
    color: #F9F7FE;
    padding: 16px 18px;
    text-align: left;
    border: 0.15em solid #F9F7FE;
}

.users-table td {
    padding: 15px 18px;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
}

.users-table td[colspan="6"] {
    text-align: center;
    padding: 40px;
    color: #9ca3af;
    font-size: 16px;
}


.button-in-table {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button-in-table form {
    margin: 0;
}

button {
    background: none;
    border: 0.15em solid transparent;
    padding: 0.5em;
    font-size: 1em;
}