<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Profile - Dog Seizure Tracker</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/edit-page.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/head.css">

</head>
<body>
<header th:insert="fragments/head :: navigation" class="section section-header"></header>
<main class="main-content">
    <h1>My Dog's Information:</h1>
    <section class="form-panel">
        <form class="form-edit" th:action="@{/dogs/{id}/dog-profile(id=${dog.getId()})}" th:object="${dog}"
              th:method="PUT">
            <div class="form-row">
                <div class="form-data">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Name" th:field="*{name}" required>
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="form-row">
                <div class="form-data">
                    <label for="breed">Breed</label>
                    <input type="text" id="breed" placeholder="breed" th:field="*{breed}" required>
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"></small>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="dogPicture">Dog Picture</label>
                    <input type="text" id="dogPicture" placeholder="dogPicture" th:field="*{dogPicture}">
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('dogPicture')}"
                       th:errors="*{dogPicture}"></small>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="gender">Gender</label>
                    <select id="gender" th:field="*{gender}">
                        <option th:each="gender : ${T(app.model.entity.dog.GenderDog).values()}"
                                th:value="${gender}"
                                th:text="${gender}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="food">Food</label>
                    <input type="text" id="food" placeholder="Food" th:field="*{food}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" id="dateOfBirth" placeholder="Date of Birth" th:field="*{dateOfBirth}">
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('dateOfBirth')}"
                       th:errors="*{dateOfBirth}"></small>
            </div>

            <button class="button save-button">
                <p>Save</p>
            </button>
        </form>
    </section>
</main>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>
