<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dog Seizure Tracker</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header class="section section-header">
    <section class="navigation">
        <nav class="nav">
            <div class="nav-components">
                <div class="site-title">
                    <div class="logo-container">
                        <a href="/"><img src="/images/primary-logo-removedbg-preview.png" alt="DST Logo"></a>
                    </div>
                </div>
                <div class="links">
                    <a th:href="@{/register}" class="button register-button">Register</a>
                    <a th:href="@{/login}" class="button login-button">Login</a>
                </div>
            </div>
        </nav>
    </section>
</header>
<main class="main-content">
    <section class="heading">
        <section class="intro centered">
            <h1>Welcome Back</h1>
            <p>Please sign in to continue tracking and managing your dog's care.</p>
            <div class="form-panel">
                <form class="login-form" th:action="@{/login}" th:method="POST" th:object="${userLoginRequest}">

                    <div class="form-row-one">
                    <div class="form-row">
                        <div class="form-data">
                            <label for="username">Username</label>
                            <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
                        </div>
                        <!--                        do i need this???-->
                        <small class="alert-warning" th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}"></small>
                    </div>
                    </div>

                    <div class="form-row-one">
                    <div class="form-row">
                        <div class="form-data">
                            <label for="password">Password</label>
                            <input type="password" placeholder="••••••••" id="password" th:field="*{password}" required>
                        </div>
                           </div>
                    <small class="alert-warning" th:text="${errorMessage}"></small>
                    <small class="alert-warning" th:if="${loginAttemptMessage}" th:text="${loginAttemptMessage}"></small>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="button login-button">Login</button>
                    </div>
                </form>
            </div>
        </section>
    </section>
</main>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>