<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seizure Risk Analysis - Dog Seizure Tracker</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/side-nav-bar.css">
    <link rel="stylesheet" href="/css/risk-analysis.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
</head>
<body>
<header th:insert="fragments/head-logged :: navigation" class="section section-header"></header>
<main>
    <section th:insert="fragments/side-nav-bar :: side-nav-bar"></section>
    <div class="page-title">
        <div class="title-text">
        <h1>🐶 Max - Seizure Risk Analysis</h1>
        <p>30-day Seizure Risk Analysis</p>
    </div>
        <a th:href="@{'/risk-analysis/' + ${dog.id}}" class="primary-btn">Generate Prediction</a>
        <section class="analysis panel">
            <h2>
                Prediction Settings
            </h2>


            <div class="setting">

                Prediction period

                <b>
                    30 days
                </b>

            </div>


            <div class="setting">

                High risk starts

                <b>
                    70%
                </b>

            </div>


            <button class="secondary">
                Edit Settings
            </button>


        </section>
    </div>
</main>
</body>
</html>