<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - Dog Seizure Tracker</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/seizures.css">
    <link rel="stylesheet" href="/css/head.css">
    <link rel="stylesheet" href="/css/side-nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
</head>
<body>
<header th:insert="fragments/head :: navigation" class="section section-header"></header>
<main class="main-content">
    <section th:insert="fragments/side-nav-bar :: side-nav-bar"></section>
    <section class="seizures-section">
        <h1>Seizure Log</h1>
        <div class="seizures-table">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Severity</th>
                    <th>Recovery</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="seizure : ${seizures}">
                    <td th:text="${seizure.date!= null ? (T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy').format(seizure.date)) : ''}"></td>
                    <td th:text="${seizure.time}"></td>
                    <td th:text="${seizure.duration}"></td>
                    <td>
                        <p th:if="${seizure.severity == null}" class="severity-none" th:text="' ---------- '"></p>
                        <p th:if="${seizure.severity == T(app.model.entity.seizure.SeizureSeverity).MILD}" th:text="${seizure.severity.displaySeverity}"></p>
                        <p th:if="${seizure.severity == T(app.model.entity.seizure.SeizureSeverity).SEVERE}" th:text="${seizure.severity.displaySeverity}"></p>
                        <p th:if="${seizure.severity == T(app.model.entity.seizure.SeizureSeverity).MODERATE}" class="severity-moderate" th:text="${seizure.severity.displaySeverity}"></p>
                    </td>
                    <td>
                        <p th:if="${seizure.recovery == null}" class="recovery-none" th:text="' ---------- '"></p>
                        <p th:if="${seizure.recovery == T(app.model.entity.seizure.SeizureRecovery).SLOW}" class="severity-severe" th:text="${seizure.recovery.displayRecovery}"></p>
                        <p th:if="${seizure.recovery == T(app.model.entity.seizure.SeizureRecovery).NORMAL}" class="severity-moderate" th:text="${seizure.recovery.displayRecovery}"></p>
                        <p th:if="${seizure.recovery == T(app.model.entity.seizure.SeizureRecovery).FAST}" class="severity-mild" th:text="${seizure.recovery.displayRecovery}"></p>
                    </td>
                    <td class="button-table">
                        <div class="button-in-table">
                            <a th:href="@{'/dogs/' + ${dog.id} + '/seizures/' + ${seizure.id} + '/seizure-profile'}"
                               class="button edit-button">Edit Info</a>
                            <a th:href="@{/dogs/{dogId}/seizures/{seizureId}/seizure-profile(dogId=${dog.id}, seizureId=${seizure.id})}"
                               class="button delete-button">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(seizures)}">
                    <td colspan="5">No seizures logged in.</td>
                </tr>
                </tbody>
            </table>

            <div class="button button-container">
                <a th:href="@{/dogs/{id}/seizures/new(id=${dog.id})}" class="button add-seizure">Add New Seizure</a>
            </div>

        </div>
    </section>
</main>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>