<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seizure Profile - Dog Seizure Tracker</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/edit-page.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/head.css">

</head>
<body>
<header th:insert="fragments/head :: navigation" class="section section-header"></header>
<main class="main-content">
    <h1>Seizure Information:</h1>
    <section class="form-panel">
        <form class="form-edit" th:action="@{'/dogs/' + ${dogId} + '/seizures/' + ${seizureId} + '/seizure-profile'}"
              th:object="${editSeizureRequest}"
              th:method="PUT">
            <div class="form-row">
                <div class="form-data">
                    <label for="date">Date</label>
                    <input type="date" id="date" placeholder="Date" th:field="*{date}" required>
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="time">Time</label>
                    <input type="time" id="time" placeholder="time" th:field="*{time}" required>
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></small>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="duration">Duration</label>
                    <input type="text" id="duration" placeholder="duration" th:field="*{duration}">
                </div>
                <small class="alert-warning" th:if="${#fields.hasErrors('duration')}"
                       th:errors="*{duration}"></small>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="severity">Severity</label>
                    <select id="severity" th:field="*{severity}">
                        <option value="">-- Select severity --</option>

                        <option th:each="severity : ${T(app.model.entity.seizure.SeizureSeverity).values()}"
                                th:value="${severity.name()}"
                                th:text="${severity?.displaySeverity}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-data">
                    <label for="recovery">Recovery</label>
                    <select id="recovery" th:field="*{recovery}">
                        <option value="">-- Select recovery --</option>

                        <option th:each="recovery : ${T(app.model.entity.seizure.SeizureRecovery).values()}"
                                th:value="${recovery.name()}"
                                th:text="${recovery?.displayRecovery}">
                        </option>
                    </select>
                </div>
            </div>

            <button class="button save-button">
                <div>Save</div>
            </button>
        </form>
    </section>
    <div class="button-container-back">
        <a th:href="@{'/dogs/' + ${dog.id} + '/seizures'}" class="button back-button">Back</a>
    </div>
</main>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>
